{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
Sobre mi
{% endblock %}

{% block INDEX_CONTENIDO %}
    <div class="text-info-emphasis  text-center  fst-italic   fs-5  ">
        <h2> Somos un grupo de profesionales dedicados al mantenimiento edilicio y ofrecemos nuestros servicios acorde a las necesidades de cada cliente, a fin de obtener su satisfacción a través de calidad y eficiencia.</h2>
        <h2> Tenemos una importante experiencia, pero lo más relevante es el factor humano del que disponemos y la capacitación de nuestros técnicos.</h2>
        <br>
        
        <h3>Buenas mi nombre es Santiago Ezequiel Navarro tengo 19 años, soy principiante en lo que respecta a la programacion</h3>
    </div>
{% endblock INDEX_CONTENIDO %}