{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
Sobre nosotros
{% endblock %}

{% block INDEX_CONTENIDO %}
    <div class="text-info-emphasis  text-center  fst-italic   fs-5  ">
        <p> Somos un grupo de profesionales dedicados al mantenimiento edilicio y ofrecemos nuestros servicios acorde a las necesidades de cada cliente, a fin de obtener su satisfacción a través de calidad y eficiencia.</p>
        <p> Tenemos una importante experiencia, pero lo más relevante es el factor humano del que disponemos y la capacitación de nuestros técnicos.</p>


    </div>
{% endblock INDEX_CONTENIDO %}