{% extends 'Home/base.html' %}
{% load static %}

{% block BASE_CONTENIDO %}

    <div class="row align-items-center my-5">
        <h3 class="pb-lg-1 text-bg-light">
            {% block INDEX_TITULO %}
                Página de inicio
            {% endblock INDEX_TITULO %}
        </h3>
    </div>

    {% block INDEX_CONTENIDO %}

    
        {% if user.is_authenticated %}
            {{ mensaje }}
            <h4> Bienvenido {{ user.username }}</h4>
        {% endif %}


        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-4"><img class="img-fluid mb-5 mb-lg-6"; style="width : 400px ;height: 350 px; "src="{% static 'Home/img/logo.png' %}" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="fs-6 fst-italic ">
                    <p>Nuestro objetivo principal es la rápida solución de sus problemas.
                    <p>Para ello contamos con un equipo de profesionales de primer nivel en cada rubro.</p>
                    <p>Contamos con una amplia gama de servicios para consorcios y edificios orientados al mantenimiento y reparación integral de los mismos.</p>
                </h1>
                <a class="btn btn-primary" href="https://wa.me/5491124894471" target="_blank">WhatsApp
                    <img src="{% static 'Home/img/icon-wp-color.png' %}"class=""style="width: 40px;height: 40px; alt="">
                </a>
            </div>
        </div>
            

        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            {% for servicio in servicios_usuario %}
                {% include 'servicio/servicio_card.html' with servicio=servicio %}
            {% endfor %}
            {% include 'servicio/servicio_card.html' with servicio=servicio %}
            {% include 'servicio/servicio_card.html' with servicio=servicio %}
            {% include 'Home/card.html' with card=servicio.nombre%}
        </div>
    {% endblock INDEX_CONTENIDO %}

{% endblock BASE_CONTENIDO %}